/** {
     cursor: url(../images/blank.png),url(../images/blank.png),default;
}
 *:hover,:active {
     cursor: url(../images/blank.png),url(../images/blank.png),default;
}
 .ui-button {
     cursor: url(../images/blank.png),url(../images/blank.png),default;
}
 */

*::-moz-selection {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-selection {
    background: rgba(0, 0, 0, 0);
}

*::selection {
    background: rgba(0, 0, 0, 0);
}

* {
    touch-action: none;
}

body, html {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    overflow: hidden;
}

.draggable {
    cursor: move;
}

.mylogo {
    margin: 0 30px;
    height: 25%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button span {
    white-space: nowrap;
}

h1 {
    color: white;
    margin: 0;
    font-size: 2vmax;
    font-weight: bold;
}

h2 {
    color: white;
    margin: 0;
    font-size: 120%;
    font-weight: bold;
}

h3 {
    color: white;
    margin: 0;
    font-size: 120%;
}

.heading {
    color: white;
    text-align: center;
    font-size: 135%;
    text-shadow: black 1px 1px 3px;
}

#activepidname {
    z-index: 0;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 8px black;
}

.admin-menu {
    white-space: nowrap;
}

.label {
    color: white;
    font-weight: bold;
}

.scroll-pane .list_buttons {
    zoom: 90%;
    margin-left: 4px;
}

.main_level {
    height: 100vh;
    position: relative;
    background-size: cover;
}

.admin_display {
    margin: auto;
    width: 99%;
    height: 92%;
}

.admin_menu {
    display: flex;
    height: clamp(90px, 20vmin, 100px);
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.break {
    white-space: nowrap;
    clear: both;
}

.footer-text {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: clamp(4px, 4vmin, 2em);
    text-shadow: black 0px 0px 10px;
}

.display_level {
    height: 99.5%;
    overflow: hidden;
}

.container_main {
    margin: 0px 10px;
    border: 2px solid silver;
    background: 0 #325;
    height: 52%;
}

.list_title {
    display: inline-flex;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: clamp(15px, 4vmin, 23px);
    align-items: center;
    flex-wrap: wrap;
}

.child_buttons {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.child+.list_title {
    vertical-align: top;
}

.child.slider-item {
    border-radius: 10px;
}

.last_update {
    font-weight: bold;
    color: ghostWhite;
    font-size: 10px;
    text-shadow: rgba(0, 0, 0, 0) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 1) 0 1px, rgba(0, 0, 0, 0) -1px -2px;
    background: 0 silver;
    padding: 8px;
    position: absolute;
    margin: 0px 0px;
    right: 5px;
}

.list_links {
    font-size: 12px;
    font-weight: normal;
    display: inline-flex;
    width: calc(50vw - 70px);
    white-space: normal;
}

.list_box {
    background: gray;
    white-space: nowrap;
    height: auto;
    margin: 5px;
    padding-top: 2px;
}

.list_box.activeaccount:hover, .selectablelist {
    cursor: pointer;
}

.list_box_item_left {
    display: inline-block;
    vertical-align: middle;
    width: calc(70% - 15px);
    white-space: normal;
}

.list_box_item_right {
    display: inline-block;
    width: 30%;
    position: relative;
    text-align: right;
    background: none;
    font-size: clamp(10px, 4vmin, 17px);
    vertical-align: middle;
}

.program_name+.list_box_item_right {
    width: 30%;
    display: inline-block;
}

.list_box_item_full {
    position: relative;
    white-space: nowrap;
    padding: 5px;
}

.emergency {
    background-color: darkred !important;
}

.primary {
    background-color: green !important;
}

.container_info {
    background: lightCyan;
    border: 2px solid silver;
    height: 95%;
}

.infobox {
    border-top: 2px solid black;
    height: calc(50% - 20px);
}

.info_action-bar {
    text-align: center;
    white-space: nowrap;
    margin: 10px;
    z-index: 0;
}

.attending {
    background-color: #9591ff3b !important;
}

.unexpected {
    background-color: #00000029 !important;
}

.notify {
    display: flex;
    padding: 5px;
    font-size: 2em;
    color: black;
    font-weight: bold;
    background: yellow;
    align-items: center;
    justify-content: center;
}

.notify_tagonly .tag {
    border-radius: 0px;
    margin: 1px;
    font-size: .85em;
    border-radius: 0 0 5px 5px;
}

.notify_tagonly {
    position: absolute;
    right: 2px;
    top: 0px;
}

.caution {
    background-color: #7a3333 !important;
}

.caution:hover {
    background-color: #701b1c !important;
}

.container_actions {
    background: lightCyan;
    border: 2px solid silver;
    padding: 2px 0px 6px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.container_actions button, .container_actions form {
    display: contents;
    margin: auto;
}

.container_list {
    border: 2px solid silver;
    background: 0 #325;
    width: 40%;
    float: left;
    height: 100%;
    box-sizing: border-box;
}

.container_side {
    min-width: 170px;
    width: 16%;
}

.bottom {
    width: 100%;
    height: 150px;
}

.image_wrapper {
    display: inline-block;
    padding: 10px 2px;
    min-height: 250px;
    min-width: 250px;
    width: 100%;
    position: relative;
}

.image_caption {
    position: absolute;
    bottom: 0px;
    width: 98%;
}

.inline-button {
    display: inline-block;
    border: 1px groove silver;
    background: darkgray;
    color: white !important;
    padding: 4px 8px 5px 6px;
    margin: 4px;
}

.inline-button svg {
    color: inherit !important;
}

.calendar-day .inline-button {
    margin: 2px;
    border: 1px solid darkslategray;
    padding: 5px !important;
    background: #cbc8c8;
}

.inline-button a {
    color: white;
}

.inline-button a:link {
    text-decoration: none;
}

.inline-button a:visited {
    text-decoration: none;
}

.inline-button a:hover {
    text-decoration: none;
}

.inline-button a:active {
    text-decoration: none;
}

.inline-button:hover {
    background: silver;
    cursor: pointer;
}

.inline-button:active {
    background: #6B6A6A;
}

.inline-button img {
    vertical-align: text-bottom;
}

.slider-item {
    width: 25vw;
    height: 25vw;
    max-width: 136px;
    max-height: 136px;
    min-width: 80px;
    min-height: 80px;
    border: none;
    margin: 2px;
    background-color: whitesmoke;
}

.child .ui-button-text {
    padding: 0;
}

.slider-item-text {
    top: inherit !important;
    color: white;
    text-shadow: #2C2C2C 1px 1px 3px;
    font-weight: bold;
    position: relative;
}

.child_wrapper {
    background: white;
    display: inline-block;
    padding: 2px;
    margin: 4px;
    border: none;
}

.document_list_item {
    border: 1px solid silver;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
}

.button:hover {
    opacity: .8;
}

.button:active {
    background: 0 silver;
}

.noaction:hover {
    opacity: 1;
    cursor: auto;
}

.tag {
    border: 1px solid silver;
    font-size: 12px;
    padding: 4px 6px 4px;
    display: inline-block;
    margin: 2px;
}

.tag-description {
    padding: 15px;
    background: gainsboro;
    border-radius: 5px;
    display: block;
}

.required_note {
    border: 1px solid silver;
    font-size: 12px;
    background-color: silver;
    white-space: nowrap;
    padding: 4px 6px 0px;
    display: inline-block;
    height: 20px;
    margin: 2px;
}

.keypad_button {
    border: 1px solid silver;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
    float: left;
}

.keypad_button_big {
    border: 1px solid silver;
    background-color: whitesmoke;
    width: 75px;
    height: 75px;
    margin: 5px;
}

.list_box.eventbutton {
    width: initial;
    color: white;
    text-align: center;
    font-size: 20px;
}

.buttoncontainer {
    width: 49%;
    border: none;
}

.buttonspacer {
    background: transparent;
    width: 1%;
    border: none;
}

.big_button {
    height: 80%;
    width: 30%;
    padding: 10px;
    margin: 10px;
    max-width: 350px;
    max-height: 150px;
    font-weight: bold !important;
}

.big_button.signinout {
    margin: auto 0;
}

.expected-today {
    background-color: #d8a610;
}

.big_confirm button {
    padding: 10px 20px;
}

.bb_middle {
    margin-top: -75px
}

.selected_button {
    background: 0 #485060 !important;
    color: white;
    font-weight: bold;
}

button.selected_button:hover {
    color: silver;
    font-weight: bold;
}

.upload-button {
    background: 0 grey;
    color: white;
}

.upload-button:hover {
    background: 0 silver;
}

.upload-button:active {
    background: 0 darkgrey;
}

.blank_pic {
    background-image: url('../images/blank.jpg') !important;
}

.checked_pic {
    background-image: url('../images/checkmark.jpg') !important;
    border: none;
}

.loadingscreen {
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 204, 255, 0.5);
    opacity: 0.6;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
}

/*Absolute positions*/

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.top-center {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.middle-left {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    text-align: center;
}

.middle-center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.middle-right {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.bottom-center {
    position: fixed;
    bottom: 0;
    width: 100% !important;
    text-align: center;
    z-index: 1;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.center {
    text-align: center;
}

.inactiveaccount {
    display: none;
}

.visible {
    display: inherit;
}

.hidden {
    display: none;
}

.cube {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 1px;
    border: 1px solid silver;
}

.report-cubes-container {
    display: inline-block;
    text-align: left;
    width: 80px;
}

.scroll-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 46px;
    box-sizing: border-box;
}

.scroll-content .scroll-pane>.scroll-content {
    padding: 0px;
}

.scroll-pane {
    position: relative;
}

.slider-wrap {
    position: absolute;
    left: 0;
    top: 0;
    background-color: lightgrey;
    width: 46px;
    z-index: 0;
}

.slider-vertical {
    position: relative;
    height: 100%;
    background-color: lightgrey;
    border: none !important;
    background: none;
}

.ui-slider-handle {
    background: 0 white !important;
    background-color: darkgray;
    height: 10px;
    margin: 0 auto;
    display: block;
    position: absolute;
}

.ui-slider-handle:hover {
    background: 0 silver;
}

.ui-slider-handle img {
    border: none
}

.scrollbar-top {
    position: absolute;
    top: 0;
}

.scrollbar-bottom {
    position: absolute;
    bottom: 0;
}

.scrollbar-grip {
    position: absolute;
    top: 50%;
}

.selectable .ui-selecting {
    background: #FECA40;
}

.selectable .ui-selectee {
    background: gainsboro;
    white-space: nowrap;
}

.selectable .ui-selected {
    color: black;
    background: #BAEEFF url('../images/checkmark_small.png') 10px center no-repeat;
}

.selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400%;
}

.selectable li {
    margin: 3px;
    padding: 25px;
    font-size: 1em;
    font-weight: bold;
    height: 18px;
}

.selectable li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.invoice_week, .invoice_payments, .invoice_bills {
    padding: 5px;
}

/* calendar */

table.calendar {
    border-left: 1px solid #999;
    table-layout: fixed;
}

.calendar-day-head .abb_half {
    display: none;
}

.calendar-day-head .abb_min {
    display: none;
}

td.calendar-day {
    font-size: 9px;
    word-wrap: break-word;
    background-color: white;
    min-height: 80px;
    height: 80px;
    position: relative;
}

* html div.calendar-day {
    height: 80px;
}

td.calendar-day:hover {
    background: #eceff5;
}

td.calendar-day-np {
    background: #eee;
    min-height: 80px;
}

* html div.calendar-day-np {
    height: 80px;
}

td.calendar-day-head {
    font-size: 9px;
    word-wrap: break-word;
    background: #ccc;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

div.day-number {
    background: #999;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 15px;
    text-align: center;
}

div.day-word {
    font-weight: bolder;
}

div.day-add {
    background: green;
    padding: 2px;
    width: 15px;
    text-align: center;
}

div.day-add a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* shared */

td.calendar-day, td.calendar-day-np {
    font-size: 9px;
    word-wrap: break-word;
    vertical-align: top;
    padding: 5px;
    padding-top: 0px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    height: 80px;
}

.dayheader {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    right: -5px;
    margin-bottom: 10px;
}

.fields {
    padding: .4em;
}

.ui-autocomplete-input {
    margin: 0;
    padding: 0.4em;
}

.image_button .ui-button-text {
    padding: inherit !important;
}

.image_button {
    display: inline-block;
    padding: 0;
    height: 3vw;
    width: 3vw;
    min-width: 35px;
    min-height: 35px;
    max-width: 40px;
    max-height: 40px;
}

.image_button svg:hover {
    filter: brightness(.7);
    position: relative;
    top: 1px;
    left: 1px;
}

svg {
    background: initial !important;
}

.image_button img, .image_button svg {
    width: 3vw;
    height: 3vw;
    min-width: 20px;
    min-height: 20px;
    max-width: 28px;
    max-height: 28px;
    vertical-align: middle;
    margin: auto;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    font-size: 10px;
    padding-left: 1.5em;
    height: 18px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#clock .digits div.zero .d1, #clock .digits div.zero .d3, #clock .digits div.zero .d4, #clock .digits div.zero .d5, #clock .digits div.zero .d6, #clock .digits div.zero .d7 {
    opacity: 1;
}

.container_list.expanded {
    width: 0px !important;
}

.container_info.expanded, .container_actions.expanded {
    width: 99% !important;
}

.balance_good {
    color: darkseagreen;
    text-decoration: none;
}

.balance_bad {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.topright_button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: clamp(15px, 5vmin, 30px);
}

.topleft_button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: clamp(15px, 5vmin, 30px);
}

.small_spacer {
    height: 5vh;
}

.keypad_buttons {
    font-size: 20px;
}

.select_buttons, .submit_buttons {
    font-size: 1.5vmax;
}

.go_home {
    height: clamp(25px, 15vmin, 60px)
}

.alphabet_filter .keypad_buttons {
    font-size: clamp(10px, 3vmin, 15px);
}

.alphabet_label {
    display: inline-block;
    width: 80px;
    font-size: clamp(12px, 3vmin, 15px);
}

.admin_menu .keypad_buttons {
    font-size: clamp(7px, 4vmin, 22px);
    margin: 2px;
}

.select_buttons_div {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.optional_questions {
    display: inline-flex;
    float: left;
    flex-direction: column;
    width: 60%;
    margin: 0px 10px;
    height: 70px;
    white-space: nowrap;
}

.contact_headers {
    vertical-align: bottom;
    display: inline-block;
    margin: 10px;
    width: calc(35% - 20px);
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    color: white;
    font-size: 2vw;
    text-shadow: black 0px 0px 10px;
}

.child_count {
    text-align: center;
    background: none;
    color: lightGrey;
    white-space: normal;
    text-shadow: black 1px 1px 3px;
}

.show_enrolled, .enrolled_count {
    width: 100%;
    white-space: normal;
    line-height: 17px;
    text-align: center;
    background: none;
    color: white;
    text-shadow: black 1px 1px 3px;
}

.enroll_data {
    right: unset;
}

.billing_info {
    padding: 8px;
    right: unset;
    background-color: #00000088;
}

.contact_select_at_checkout {
    float: left;
    width: 60%
}

.primary_contact, .emergency_contact {
    float: right;
    background: initial !important;
}

.show_mobile, .show_tablet {
    display: none;
}

.list_box_item_full .list_title {
    font-size: clamp(15px, 3vmin, 25px);
}

.list_title.leftselector {
    white-space:normal;
    display: flex;
}

.invoice_week div, .invoice_payments div, .invoice_bills div {
    white-space: normal;
}

.week_receipt {
    margin: 5px;
    vertical-align: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week_receipt span {
    display: inline-block;
    margin: 0 10px;
}

.refresh_timecard img {
    height: 15px;
    width: 15px;
}

.refresh_timecard {
    text-align: center;
    display: block;
}

.refresh_timecard:hover {
    cursor: pointer;
}

.employee_time_status {
    font-size: clamp(6px, 2vmin, 12px);
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    display: block;
}

.employee_button_name {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    display: block;
}

.paystub {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    font-size: 2em;
    margin: 5px;
    border: 1px solid grey;
}

/* tablet devices (tablets, 850px and down) */

@media only screen and (max-width: 850px) {
    .main_account_actions {
        width: 100%;
        display: block;
        white-space: pre-wrap;
        text-align: center;
    }
    .enroll_data {
        display: block;
        text-align: center;
        width: 100%;
        right: initial;
        left: initial;
        text-align: center;
    }
    .show_enrolled {
        width: 100%;
    }
    .calendar-day-head .abb_full {
        display: none;
    }
    .calendar-day-head .abb_half {
        display: inline;
    }
    .calendar-day-head .abb_min {
        display: none;
    }
    .container_list.scroll-pane {
        width: 45%;
    }
    .hide_tablet {
        display: none !important;
    }
    .show_tablet {
        display: initial;
    }
}

/* Very large phones (phones, 700px and down) */

@media only screen and (max-width: 700px) {
    .admin_display .container_list:first-of-type {
        width: 100%;
        height: 28vh;
    }
}

/* Large phones (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .admin_display .container_list:first-of-type {
        width: 100%;
        height: 28vh;
    }
    .employee_button, .admin_button, .topleft_button {
        zoom: 1;
    }
    #clock {
        display: none;
    }
    .big_button {
        zoom: 1;
        min-width: initial;
        min-height: initial;
        width: 70%;
    }
    .big_button.signinout {
        margin: 10px !important;
    }
    .billing_info {
        padding: 2px;
    }
    .mylogo {
        height: 20%
    }
    .small_spacer {
        height: 8vmax;
    }
    .alphabet_filter {
        visibility: hidden;
        height: 6.5vmax;
    }
    .select_buttons, .submit_buttons {
        font-size: clamp(15px, 4vmin, 20px);
        margin: 2px;
    }
    .admin_menu .keypad_buttons {
        margin: 2px;
    }
    .contact_select_at_checkout {
        width: 30%;
    }
    .child_wrapper .child.noaction {
        zoom: .3;
        display: block !important;
    }
    .child_wrapper .child:not(.noaction) {
        zoom: .7;
    }
    .child.noaction {
        display: none;
    }
    .list_links {
        width: 90vw;
    }
    .list_title {
        padding: 3px;
    }
    .list_box_item_left.list_title {
        padding: 10px 10px 0px;
    }
    .list_box_item_full .list_title {
        white-space: break-spaces;
    }
    .scroll-pane .list_buttons {
        zoom: 80%;
    }
    .list_box_item_right {
        display: block;
        width: 100%;
        left: initial;
        right: initial;
        text-align: center;
    }
    .account_name, .employee_name {
        width: 100%;
        display: block;
    }
    .child_count {
        display: block;
        width: 100%;
    }
    .main_account_actions {
        width: 100%;
        display: block;
        white-space: pre-wrap;
    }
    .calendar-day-head .abb_full {
        display: none;
    }
    .calendar-day-head .abb_half {
        display: none;
    }
    .calendar-day-head .abb_min {
        display: inline;
    }
    .selectable li {
        padding: 10px;
    }
    .selectable .ui-selected {
        background-size: 10px;
    }
    span.contact {
        width: 15px !important;
    }
    .primary_contact, .emergency_contact {
        display: none;
    }
    .selectable .ui-selectee {
        white-space: normal;
        font-size: .7em;
    }
    .optional_questions {
        width: calc(35% - 20px)
    }
    .contact_headers {
        width: calc(60% - 20px);
    }
    .container_list.scroll-pane {
        width: 30%;
    }
    .hide_mobile, .hide_tablet {
        display: none !important;
    }
    .show_mobile {
        display: initial;
    }
    .ui-button {
        padding: 6px;
    }
    .document_list_item .list_box {
        padding: 3px;
    }
    .document_list_item td {
        display: flex;
        width: 100%;
        white-space: normal;
    }
    .invoice_week, .invoice_payments, .invoice_bills {
        padding: 3px !important;
        font-size: .9em !important;
    }
    .invoice_week span, .invoice_payments span, .invoice_bills span {
        float: none !important;
    }
    .calendar td {
        display: table;
        width: 99%;
    }
    .calendar-day-head, .calendar-day-np {
        display: none !important;
    }
    table.calendar {
        border: none;
    }
}

/* Extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {
    .ui-dialog {
        width: 100% !important;
        zoom: 1 !important;
        left: 0 !important;
        top: 0 !important;
    }
}

/* Extra small devices (phones, 290px and down) */

@media only screen and (max-width: 290px) {
    .keypad_button_big {
        width: 55px;
        height: 55px;
    }
}